@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jockey+One&display=swap');


html {
  background-color: #1F1F23;
  overscroll-behavior: none;
}

body {
  margin: 0;
}

h1 {
  font-family: 'Jockey One';
}

h3,
h2,
p,
a {
  font-family: 'inconsolata';
  color: #F1F1F1;
}

h3 {
  font-size: 1.3rem;
}

a {
  font-size: 1.3rem;
}

